.card {
  border-radius: 10px;
  box-shadow: 0 3px 15px -2px rgb(0 2 2 / 20%);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 48%;
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 7px;
  margin-bottom: 10px;
  min-height: 164px;
  background-color: #ffffff;
  font-size: 0.95rem;
  position: relative;
}
.card.dark {
  background-color: #384f5f;
}
.card.dark .cardHeaderContainer svg {
  color: white;
}
@media (min-width: 800px) {
  .card {
    width: 100%;
    /* calculate number of cards (and a bit more for the gap) */
    max-width: calc(100% / 3.2);
    min-width: max-content;
    height: 184px;
  }
  .card.summary {
    height: 150px;
    min-height: unset;
    max-width: calc(100% / 4.2);
    /* border: gold 2px solid; */
  }
}
@media (min-width: 1000px) {
  .card {
    max-width: calc(100% / 6.2);
  }
}
.cardHeaderContainer {
  display: flex;
  align-items: flex-start;
}
.cardHeaderContainer svg {
  height: 20px !important;
  width: 20px;
  min-width: 1.25rem;
  margin-right: 20px;
}

.cardHeaderContainer h4 {
  margin: 0;
  display: flex;
  text-align: start;
  font-size: 0.9rem;
  line-height: 1.5;
  margin-bottom: 7px;
}
.infoBox {
  background-color: white;
  /* border: black solid 1px; */
  white-space: pre-wrap;
  position: absolute;
  width: 250px;
  right: 0;
  padding: 10px;
  text-align: start;
  border-radius: 3px;
  z-index: 5;
  box-shadow: 0 0 10px 1px rgba(159, 155, 155, 0.479);
  border: rgb(199, 193, 193) solid 1px;
}
@media (max-width: 800px) {
  .infoBox {
    max-height: 130%;
    max-width: 100%;
    overflow: auto;
    font-size: 0.8rem;
  }
}
