.container {
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 200px;
  max-width: 100%;
  margin-bottom: 10px;
  cursor: pointer;
}
.container.dark .arrow svg {
  color: #8f9bb3;
}
.container.dark .mainDropdown {
  background-color: #4e6275;
  border: 1px solid #79858e;
}
.container.dark .menu {
  background-color: #384f5f;
}
.mainDropdown {
  border-radius: 3em;
  border: 1px #e3e5ea solid;
  padding: 3px 10px 3px 10px;
  min-width: 200px;
  max-width: 100%;
  width: max-content;
  text-overflow: ellipsis;
  display: flex;
  justify-content: space-between;
  background-color: #e9ecf286;
  align-items: center;
}

.arrow svg {
  height: 20px;
  width: 20px;
  color: #a2acc0;
  transition: all 0.7s;
}
.mainDropdown.open .arrow svg {
  transform: rotate(180deg);
}

.menu {
  position: absolute;
  display: none;
  /* width: 100%; */
  min-width: 200px;
  background-color: white;
  border: 1px #79858e solid;
  /* padding: 3px; */
  border-radius: 10px;
  top: 110%;
  right: 0;
  overflow: hidden;
}

.menu.open {
  display: flex;
  flex-direction: column;
  z-index: 5;
}
