.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.cardsContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}
.breakable {
  display: flex;
  align-items: flex-start;
}
.breakable > * {
  display: inline-block;
  font-size: 0.85rem;
  margin: 0 2px 0 2px;
}
.bold {
  font-weight: 600;
}
.bigCard {
  border-radius: 10px;
  box-shadow: 0 2px 7px rgb(190, 190, 190);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 10px;
  height: 100%;
  background-color: #ffffff;
  overflow: hidden;
}
.bigCard h3 {
  padding: 14px 22px 14px 22px;
}
.innerCardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
