.overContainer {
  height: auto;
  position: relative;
  /* max-width: 100vw; */
}

.overContainer.stick {
  position: fixed;
  top: 0;
  background-color: white;
  z-index: 11;
}
.line {
  right: 0;
  left: 0;
  position: absolute;
  z-index: 11;
  height: 1px;
  background: linear-gradient(90deg, #4bb887, #16b6d0, #d6e58a);
}
.mainHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: flex-start;
  padding: 15px 5px;
  height: 100%;
}

.headerRight {
  display: flex;
}
.menuHamburgerBtn {
  display: flex;
  align-self: center;
  height: 3em;
  width: 3em;
  padding: 5px;
  background-color: transparent;
  border: none;
  margin-right: 10px;
}
.menuHamburgerBtn > * {
  height: 100%;
  width: 100%;
}
.navbar {
  background-color: #374f60;
  height: 50px;
  width: 100vw;
  overflow-x: auto;
  overflow-y: hidden;
  /* box-shadow: rgb(36, 35, 35) 0px 3px 10px; */
}
.navbar::-webkit-scrollbar,
.navbar2::-webkit-scrollbar {
  display: none;
}
@media (min-width: 800px) {
  .navbar::-webkit-scrollbar,
  .navbar2::-webkit-scrollbar {
    display: block;
    height: 7px;
  }
  .navbar::-webkit-scrollbar-thumb,
  .navbar2::-webkit-scrollbar-thumb {
    background-color: #969696;
    border-radius: 3em;
  }
}
.navbar2 {
  position: fixed;
  top: -100px;
  right: -0.5px;
  background-color: #374f60;
  height: 50px;
  width: 100vw;
  overflow-x: auto;
  overflow-y: hidden;
  transition: top 0s linear;
  /* box-shadow: rgb(36, 35, 35) 0px 3px 10px; */
}
.navbar2.show {
  top: 0;
  transition: top 0.3s linear;
  z-index: 10;
}
.navbar ul,
.navbar2 ul {
  display: flex;
  list-style-type: none;
  justify-content: flex-start;
  padding: 9px 0;
  margin: 0;
  overflow: auto;
  width: max-content;
  gap: 20px;
}
.navbar ul li,
.navbar2 ul li {
  width: max-content;
  border-radius: 3em;
  padding: 4px 20px;
  white-space: nowrap;
  color: white;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
}
.navbar ul li.active,
.navbar2 ul li.active {
  background-color: rgba(243, 243, 243, 0.247);
}
.imgContainer {
  display: flex;
  height: 100%;
}
.logo {
  object-fit: contain;
  width: 220px;
}
.brightnessBtn {
  position: absolute;
  display: flex;
  left: 0;
  top: 20px;
  margin-left: 0;
  border-radius: 0px 30px 30px 0;
  background-color: #39475d;
  border: none;
  height: 45px;
}
.brightnessBtn img {
  align-self: center;
}
.updateTitle {
  display: flex;
  flex-direction: column;
  font-size: 1.01rem;
  margin: 20px 10px 0 10px;
  font-family: Open-Sans-Hebrew, sans-serif;
  flex: 1 0;
  align-items: flex-start;
  width: calc(100% - 20px);
  line-height: 1.2;
}

.UpdateSubtitle {
  width: 100%;
  /* height: 50px; */
  display: flex;
  font-size: 0.75rem;
  font-family: Open-Sans-Hebrew, sans-serif;
  align-items: flex-start;
  font-weight: 700;
  gap: 3px;
}

@media (min-width: 800px) {
  .mainHeader {
    flex-direction: row;
  }
  .updateTitle {
    flex-direction: row;
    gap: 10px;
    align-items: center;
  }
  .updateTitle > * {
    width: max-content;
    font-size: 1rem;
  }
  .logo {
    margin: 0 30px;
    max-height: 47px;
    width: 100%;
  }
}
