.container {
  background-color: #edf1f7;
  min-height: 90vh;
  padding: 10px 10px 8px 10px;
  padding-bottom: 450px;
}
.container.dark,
.container.container.pushUp.dark {
  background-color: #426074;
}
.container.pushUp {
  margin-top: 126px;
}
@media (min-width: 800px) {
  .container {
    padding-bottom: 450px;
  }
}
@media (max-width: 800px) {
  .container.pushUp {
    margin-top: 166px;
  }
}
h2 {
  text-align: start;
  font-size: 19px;
  font-weight: 700;
  font-family: Open-Sans-Hebrew-Bold;
  line-height: 2.5;
  margin-bottom: 7px;
}

.container h2:not(:first-of-type) {
  border-top: 1px solid rgba(161, 170, 177, 0.4);
  margin-top: 40px;
}
.container h2:first-of-type {
  margin-top: 0;
}
